<div class="about-container">
  <div class="title">
    <h1>About Jack's Models</h1>
  </div>

  <div class="content">
    <p>
      Started by Jack Simon in his dorm room at Virginia Tech, Jack's Models were built with 
      the purpose of accurately predicting the outcomes of various sporting events. The
       very first model was created in 2020 using college basketball efficiency ratings. 
       After 3 years of building, testing, and modifying the models, Jack's Models 
       were published online on January 17, 2024. Both the models and the site will continue to 
       be tested and improved throughout the years. Please feel free to reach out to me with any 
       questions, concerns, or advice. I hope you enjoy.
    </p>
  </div>
<div class="title">
  <h1>Injuries</h1>
</div>
<div class="content">
  <p>If a player has missed a handful of games, that will be reflected in the data since a 
    lot of the data used is from the last 3 games. However, a star player sitting out one game will not 
    effect the data and therefore the model will not change. Be mindful of recent injuries, trades,
     and healthy scratches.
  </p>
</div>


  <div class="contact-container">
    <h2>Contact Information</h2>
    <p>Email: <a href="mailto:jack.e.simon@gmail.com">jack.e.simon&#64;gmail.com</a></p>
    <p>If you feel inclined to tip :)   Venmo: jesimon4 </p>
  </div>
</div>

  

  