<div class="navbar">
  <a routerLink="/" class="logo-link">
    <img src="assets/Jack's_Models_Logo.png" alt="Jack's Models Logo" class="logo">
    <span class="site-name">Jack's Models</span>
  </a>
  <div class="nav-links">
    <a routerLink="/">Home</a>
    <a routerLink="/scoreboard">Model</a>
    <a routerLink="/about">About</a>
    <a routerLink="/results">Results</a>
    <a routerLink="/soccer-scoreboard">Soccer Model</a>
  </div>
</div>

<div class="container">
  <router-outlet></router-outlet>
</div>

<footer class="footer">
  <p class="last-updated">Last Updated: April 5, 2026 &nbsp;|&nbsp; <a href="https://forms.gle/CMNMhNeis8wBgQs8A" target="_blank">Take our Survey</a></p>
  <p>Patent Pending &nbsp;|&nbsp; &copy; Jack's Models 2026</p>
  <h3>Sports Prediction Models</h3>
  <ul>
    <li><a routerLink="/nfl-predictions">NFL Predictions</a></li>
    <li><a routerLink="/mlb-predictions">MLB Predictions</a></li>
    <li><a routerLink="/ncaaf-predictions">NCAAF Predictions</a></li>
    <li><a routerLink="/nba-predictions">NBA Predictions</a></li>
    <li><a routerLink="/ncaam-predictions">NCAAM Predictions</a></li>
    <li><a routerLink="/nhl-predictions">NHL Predictions</a></li>
    <li><a routerLink="/college-baseball-predictions">College Baseball Predictions</a></li>
    <li><a routerLink="/soccer-predictions">Soccer Predictions</a></li>
  </ul>
</footer>
