<div class="ribbon">
  <app-ribbon (sportSelected)="onSportSelected($event)"></app-ribbon>
</div>

<div class="scoreboard-title">Scoreboard</div>

<div class="scoreboard-container">
  <div class="team-scoreboard">
    <label for="awayTeamSearch">Away</label>
    <div class="team-info">
      <input
        type="text"
        class="form-control"
        id="awayTeamSearch"
        [(ngModel)]="searchTextAwayTeam"
        (focus)="clearInput('awayTeam')"
        (input)="filterAwayTeams()"
        (blur)="hideDropdown('awayTeam')"
        (keydown)="onDropdownKeydown($event, 'awayTeam')"
        placeholder="Away Team"
      />
      <div class="dropdown-menu" [class.show]="showAwayTeamDropdown">
        <div
          *ngFor="let team of filteredAwayTeams"
          class="dropdown-item"
          (mousedown)="selectAwayTeam(team)"
        >{{ team }}</div>
      </div>
    </div>
    <div class="form-group" *ngIf="selectedSport === 'MLB'">
      <label for="awayPitcherSearch">Starting Pitcher</label>
      <div class="team-info">
        <input
          type="text"
          class="form-control"
          id="awayPitcherSearch"
          [(ngModel)]="searchTextAwayPitcher"
          (focus)="clearInput('away')"
          (input)="filterAwayPitchers()"
          (blur)="hideDropdown('away')"
          (keydown)="onDropdownKeydown($event, 'awayPitcher')"
          placeholder="Away Pitcher"
        />
        <div class="dropdown-menu" [class.show]="showAwayPitcherDropdown">
          <div
            *ngFor="let pitcher of filteredAwayPitchers"
            class="dropdown-item"
            (click)="selectAwayPitcher(pitcher.name)"
          >
            {{ pitcher.name }}
          </div>
        </div>
        <br />
      </div>
    </div>
    <div class="form-group" *ngIf="selectedSport === 'NHL'">
      <label for="awayGoalieSearch">Starting Goalie</label>
      <div class="team-info">
        <input
          type="text"
          class="form-control"
          id="awayGoalieSearch"
          [(ngModel)]="searchTextAwayGoalie"
          (focus)="clearInput('awayGoalie')"
          (input)="filterAwayGoalies()"
          (blur)="hideDropdown('awayGoalie')"
          (keydown)="onDropdownKeydown($event, 'awayGoalie')"
          placeholder="Away Goalie"
        />
        <div class="dropdown-menu" [class.show]="showAwayGoalieDropdown">
          <div
            *ngFor="let goalie of filteredAwayGoalies"
            class="dropdown-item"
            (mousedown)="selectAwayGoalie(goalie.name)"
          >{{ goalie.name }}</div>
        </div>
      </div>
    </div>
    <div class="team-score">{{ awayTeamScore }}</div>
  </div>

  <div class="team-scoreboard">
    <label for="homeTeamSearch">Home</label>
    <div class="team-info">
      <input
        type="text"
        class="form-control"
        id="homeTeamSearch"
        [(ngModel)]="searchTextHomeTeam"
        (focus)="clearInput('homeTeam')"
        (input)="filterHomeTeams()"
        (blur)="hideDropdown('homeTeam')"
        (keydown)="onDropdownKeydown($event, 'homeTeam')"
        placeholder="Home Team"
      />
      <div class="dropdown-menu" [class.show]="showHomeTeamDropdown">
        <div
          *ngFor="let team of filteredHomeTeams"
          class="dropdown-item"
          (mousedown)="selectHomeTeam(team)"
        >{{ team }}</div>
      </div>
    </div>
    <div class="form-group" *ngIf="selectedSport === 'MLB'">
      <label for="homePitcherSearch">Starting Pitcher</label>
      <div class="team-info">
        <input
          type="text"
          class="form-control"
          id="homePitcherSearch"
          [(ngModel)]="searchTextHomePitcher"
          (focus)="clearInput('home')"
          (input)="filterHomePitchers()"
          (blur)="hideDropdown('home')"
          (keydown)="onDropdownKeydown($event, 'homePitcher')"
          placeholder="Home Pitcher"
        />
        <div class="dropdown-menu" [class.show]="showHomePitcherDropdown">
          <div
            *ngFor="let pitcher of filteredHomePitchers"
            class="dropdown-item"
            (click)="selectHomePitcher(pitcher.name)"
          >
            {{ pitcher.name }}
          </div>
        </div>
        <br />
      </div>
    </div>
    <div class="form-group" *ngIf="selectedSport === 'NHL'">
      <label for="homeGoalieSearch">Starting Goalie</label>
      <div class="team-info">
        <input
          type="text"
          class="form-control"
          id="homeGoalieSearch"
          [(ngModel)]="searchTextHomeGoalie"
          (focus)="clearInput('homeGoalie')"
          (input)="filterHomeGoalies()"
          (blur)="hideDropdown('homeGoalie')"
          (keydown)="onDropdownKeydown($event, 'homeGoalie')"
          placeholder="Home Goalie"
        />
        <div class="dropdown-menu" [class.show]="showHomeGoalieDropdown">
          <div
            *ngFor="let goalie of filteredHomeGoalies"
            class="dropdown-item"
            (mousedown)="selectHomeGoalie(goalie.name)"
          >{{ goalie.name }}</div>
        </div>
      </div>
    </div>
    <div class="team-score">{{ homeTeamScore }}</div>
  </div>
</div>

<div class="bottom-controls">
  <button (click)="runSimulation()">Run Sim</button>
  <button (click)="openDetailsPopup()">Show Details</button>
  <div class="neutral-site-checkbox">
    <input type="checkbox" id="neutralSiteCheckbox" [(ngModel)]="isNeutralSite">
    <label for="neutralSiteCheckbox">Neutral site</label>
  </div>
</div>

<div *ngIf="showPlayerProps && selectedSport === 'MLB'" class="player-props-table">
  <div class="table-wrapper">
    <table>
      <thead>
        <tr>
          <th>#</th>
          <th (click)="sortTable('Hitters')">
            Hitters
            <span *ngIf="sortDirection['Hitters'] === 'asc'">▲</span>
            <span *ngIf="sortDirection['Hitters'] === 'desc'">▼</span>
          </th>
          <th (click)="sortTable('Homer %')">
            Homer %
            <span *ngIf="sortDirection['Homer %'] === 'asc'">▲</span>
            <span *ngIf="sortDirection['Homer %'] === 'desc'">▼</span>
          </th>
          <th (click)="sortTable('Hit%')">
            Hit%
            <span *ngIf="sortDirection['Hit%'] === 'asc'">▲</span>
            <span *ngIf="sortDirection['Hit%'] === 'desc'">▼</span>
          </th>
          <th (click)="sortTable('xBases')">
            xBases
            <span *ngIf="sortDirection['xBases'] === 'asc'">▲</span>
            <span *ngIf="sortDirection['xBases'] === 'desc'">▼</span>
          </th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let prop of sortedProps.slice(0, 100); let i = index">
          <td>{{ i + 1 }}</td>
          <td>{{ prop['Hitters'] }}</td>
          <td>{{ (prop['Homer %'] * 100) | number:'1.1-1' }}%</td>
          <td>{{ (prop['Hit%'] * 100) | number:'1.1-1' }}%</td>
          <td>{{ prop['xBases'] | number:'1.2-2' }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<div *ngIf="selectedSport === 'MLB'" class="mlb-lineups-container">
  <div class="lineup-column">
    <h3
      [ngStyle]="{
        color: getTeamColor(selectedAwayTeam),
        'text-shadow': getTextOutline(selectedAwayTeam)
      }">
      {{ selectedAwayTeam }} Lineup
    </h3>
    <div class="lineup-table">
      <div class="lineup-header">
        <span>Player</span>
        <span>Hit %</span>
        <span>xBases</span>
      </div>
      <div *ngFor="let i of [0,1,2,3,4,5,6,7,8]" class="lineup-row">
        <div class="lineup-cell">{{ mlbLineups[selectedAwayTeam + (i + 1)] }}</div>
        <div
          class="lineup-cell hit-percent"
          [ngClass]="{ 'green': awayHitPercent[i] > 75, 'red': awayHitPercent[i] < 65 }"
        >
          {{ awayHitPercent[i] }}
        </div>
        <div
          class="lineup-cell x-bases"
          [ngClass]="{ 'green': awayxBases[i] > 1.55 && awayHitPercent[i] > 75, 'red': awayxBases[i] < 1.15 }"
        >
          {{ awayxBases[i] }}
        </div>
      </div>
    </div>
  </div>

  <div class="lineup-column">
    <h3
      [ngStyle]="{
        color: getTeamColor(selectedHomeTeam),
        'text-shadow': getTextOutline(selectedHomeTeam)
      }">
      {{ selectedHomeTeam }} Lineup
    </h3>
    <div class="lineup-table">
      <div class="lineup-header">
        <span>Player</span>
        <span>Hit %</span>
        <span>xBases</span>
      </div>
      <div *ngFor="let i of [0,1,2,3,4,5,6,7,8]" class="lineup-row">
        <div class="lineup-cell">{{ mlbLineups[selectedHomeTeam + (i + 1)] }}</div>
        <div
          class="lineup-cell hit-percent"
          [ngClass]="{ 'green': homeHitPercent[i] > 75, 'red': homeHitPercent[i] < 65 }"
        >
          {{ homeHitPercent[i] }}
        </div>
        <div
          class="lineup-cell x-bases"
          [ngClass]="{ 'green': homexBases[i] > 1.55 && homeHitPercent[i] > 75, 'red': homexBases[i] < 1.15 }"
        >
          {{ homexBases[i] }}
        </div>
      </div>
    </div>
  </div>
</div>

